.main-chat
  .main-header
    .main-header__groupe-box
      .main-header__groupe-box__groupe-name 
        = @group.name
      .main-header__groupe-box__member-name
        - @group.group_users.each do |group_user|
          = group_user.user.name
    .main-header__edit-box
      = link_to edit_group_path(@group) do
        .main-header__edit-box__edit-btn Edit
  .main-message
    = render @messages
  .main-form
    = form_for [@group, @message] do |f|
      .input-box
        = f.text_field :body, class: "input-box__text", placeholder: "type a message"
        = f.label :image, class: "input-box__image" do
          = icon('fas', 'image')
          = f.file_field :image, class: "input-box__image__file"
      = f.submit "Send", class: "submit-btn"