.side_bar
  .side-header
    .side-header__username-box
      .side-header__username-box__username
        = current_user.name
      .side-header__username-box__icons
        = link_to "#", class:"edit" do
          = icon("far", "edit")
        = link_to edit_user_path(current_user), class:"cog" do
          = icon("fas", "cog")
  .side-groupe
    .side-groupe__groupe-name techcamp
    .side-groupe__message-box まだメッセージがありません
    .side-groupe__groupe-name techcamp
    .side-groupe__message-box まだメッセージがありません

